<ion-header-bar class="bar-balanced">
    <h1 class="title">Sudoku Solver</h1>
    <button class="button button-icon icon ion-ios-gear-outline" ng-click="selectPuzzle()"></button>
</ion-header-bar>

<ion-content scroll="false">

    <!-- Sudoku board -->
    <div sudoku="" puzzle="puzzle.data"></div>

    <!-- Solve button -->
    <div class="solve-button-container">
        <div class="button button-balanced solve-button" ng-click="solve()">
            Solve
        </div>
    </div>

</ion-content>