html,
body {
    height: 100%;
}

.pane {
    background: #DDD;
}

.bar-balanced,
.button-balanced {
    background: #60a628 !important;
    border-color: #469d00 !important;
}

.toggle.toggle-balanced input:checked + .track {
  border-color: #60a628;
  background-color: #60a628; 
}

.popup {
    border-radius: 4px !important;
}

.popup-body {
    text-align: center;
}

/* Container for all content */
.content {
    position: relative;
    height: 100%;
}

/* Wraps the game board */
.game-container{
    text-align: center;
    overflow: visible;
}

/* Game grid wrapper */
.game {
    background: #FFF;
    position: relative;
    overflow: hidden;
    margin: auto;
    box-shadow: 0 0 100px #999;
    border-radius: 5px;
}

/* Grid cell base style */
.game-cell {
    width: 11.1111111%;
    height: 11.2111111%;
    border-left: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    float: left;
    box-sizing: border-box;
    position: relative;
}

.game-cell-digit {
    transition: opacity 500ms ease;
    font-size: 4vmin;
    font-weight: 300;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #666;
    /*background: red;*/
}

/* Cells in last row */
.game-cell:nth-child(n+73) {
    border-bottom: none;
}

/* Cells in first column */
.game-cell:nth-child(9n+1) {
    border-left: none;
}

/* Cells in last column */
.game-cell:nth-child(9n+9) {
    border-right: none;
}

/* Middle horizontal thick lines */
.game-cell:nth-child(n+19):nth-child(-n+27),
.game-cell:nth-child(n+46):nth-child(-n+54) {
    border-bottom: 1vmin solid #CCC;
}

/* Middle vertical thick lines */
.game-cell:nth-child(9n + 4),
.game-cell:nth-child(9n + 7) {
    border-left:  1vmin solid #CCC;
}

/* Container for the solve button */
.solve-button-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Solve button */
.solve-button {
    margin: 23px;
    min-width: 150px;
    left: 0;
    bottom: 0;
}
